:root{
 font-family: $opensans, sans-serif;
}

h2{
  font-size: $xxx-large;
  font-weight: 400;
  color: $white;
}

h3{
  font-size: $xx-large;
  font-weight: 400;
}

h4{
  font-size: $x-large;
  font-weight: 400;
}

h5{
  font-size: $large;
  font-weight: 700;
}

p{
  font-size: $medium;
  font-weight: 400;
}

i{
  color: $white;
}

span{
  color: $white;
}